@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Anton', sans-serif;
}

h1 {
  text-align: center;
}
main {
  position: relative;
}
footer {
    position: fixed;
    bottom: 0;
    left: auto;
    width: 100%;
    background: white;
}

a {
    color: hotpink;
}

#arena {
  width: 100%;
  min-height: 500px;
  postion: relative;
}

.init {
  font-size: 600%;
}

.contender {
    min-width: 33%;
  max-width: 40%;
  border: solid 2px black;
  position: absolute;
  min-height: 480px;
  color: white;
  text-align: center;
  box-shadow: -5px 5px 5px #aaa;
}

.contender ul, .contender li {
  list-style: none;
}

/*p.weather {
  font-size: 90%;
  font-family: 'Roboto', sans-serif;
}
p.weather img, img.weather {
  float:right;
}*/

img.weather-icon {
  /*float: right;*/
  height: 1em;
  width: auto;
  vertical-align: middle;
}

table {
  padding-bottom: 400px;
  color: white;
}

tr {
    padding: 5px, 5px, 5px, 5px;
    margin: 0 auto;
}

.contender img.city-image {
  max-width: 94%;
  max-height: 160px;
}

.contender h2 {
  letter-spacing: 2px;
  font-size: 160%;
}

#contender-left {
  top: 0;
  left: 80px;
  background-color: darkblue;
}
#contender-right {
  top: 0;
  right: 80px;
  background-color: darkred;
}

.contender ul {
  font-family: 'Roboto', sans-serif;
  font-weight: 100%;
}

#center-arena {
  background: yellow;
  font-size: 400%;
  color: black;
  text-align: center;
}

#center-arena p {
  margin-top: 0; // get rid of that empty space
}

#cities {
  background-color: lightgray;
  position: fixed;
  bottom: 20px;
  max-height: 400px;
}

#cities h3 {
  display: inline-block;
  background: lightgray;
  margin-left: 1em;
  margin-right: 1em;
}

#cities h3:hover {
  color: green;
  cursor: pointer;
}

.selected {
  color: gray;
}



.contender {

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.meMuchoGusto {
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    background-color: orange;
    color: red;
}

.popAndLock {
    position: fixed;
    z-index: 3;
    padding: 0;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #4d4d4d;
    color: #00FF00;
}

.popAndLock, table, a {
    font-family: monaco, Consolas, 'Lucida Console', monospace;
}

.adds {
    position: relative;
    top: 0;
    right: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
